{% extends "layout.html" %} 
{% block title %}COM CAR{%endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='dashboard-styles.css') }}" />
<script src="https://kit.fontawesome.com/623b0bceda.js" crossorigin="anonymous"></script>
{% endblock %} 
{% block inner_content %}


{% include "sidebar_new_admin.html" %}

<link rel="stylesheet" href="{{ url_for('static', filename='autosuggest.css') }}" />
<div class="page-content p-4" id="content">
<div class="main-container">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                        <div class="title">
                            <h4><i class="micon dw dw-settings2 mtext"></i></h4>
                        </div>


<div class="container-fluid right-content">
<form  method="post" >
  <input type="hidden" name="task_id" value="{{ tasks.task_id }}">
      <div class="row">
        <div class="col"><h1>Update Chiplevel</h1></div>
        <div class="col">
    <button class="btn btn-dark" role="submit" data-bs-toggle="modal" data-bs-target="#">Save</button>

    </div>
  </div>


  <div class="row">
    <div class="col">
      <label>Customer Name</label>
      <h1  style="text-transform: capitalize;">{{ tasks.customer.name }}</h1>
    </div>
    <div class="col">
        <label>Status</label><span style="color: red;">*</span>
        <select class="form-control" name="status" required>
            <option value=" " id="status">Select an option</option>
          {% for status in ["Sent","Received"] %}
          <option value={{status}} {{  'selected' if flag and status==chiplevel.status  }}>{{status}}</option>
          {% endfor %}
        </select>
    </div>
      
  </div>

    <div class="row">
      <div class="col">
        <label>Outward Date</label><span style="color: red;">*</span>
        <input type="Date" name="outward_date" value='{{chiplevel.outward_date if flag }}' class="form-control" required>
      </div>
      <div class="col">
        <label>Inward Date</label>
        <input type="Date" name="inward_date" value='{{chiplevel.inward_date if flag }}' class="form-control" >
      </div>    
    </div>

    {% if errors%}
    <div class="alert alert-danger" style="width: 250px;" role="alert">
        {{errors}}
    </div>
    {% endif %}

      <div class="row">
        <div class="col">
          <label>Partner Name</label><span style="color: red;">*</span>
          <input type="text"  style="text-transform: capitalize;"list="partner_name" id="name_lit" class="form-control" placeholder="Partner Name" value="{{chiplevel.partners.partner_name if flag and chiplevel.partners}}"
              name="partner_name" autocomplete="off" required>
              <ul class="list"></ul>
          
        
        </div>
        
        <div class="col">

        </div>

        
      </div>

      <div class="row">
        <div class="col">
          <label>Est Days</label><span style="color: red;">*</span>
          <input type="number" name="est_days" value='{{ chiplevel.est_days  if flag}}' class="form-control" required >
        </div>
        <div class="col">
          <label>Est Charges</label><span style="color: red;">*</span>
          <input type="number" name="est_charge" value='{{ chiplevel.est_charge  if flag}}'  class="form-control" required>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label>Partner Charges</label>
          <input type="number" name="partner_charge" value='{{ chiplevel.partner_charge if flag}}'  class="form-control">
        </div>
        <div class="col">
          <label>Customer Charges</label>
          <input type="number" name="recived_charge" value='{{ chiplevel.recived_charge  if flag}}'  class="form-control">
        </div>
        
      </div>
      
      <div class="row">
        <div class="col">
          <label>Remarks</label>
          <input type="text" style="text-transform: capitalize;"name="remarks" value='{{ chiplevel.remarks if flag}}' class="form-control">
        </div>
      </div>

      <h1>Product Details</h1>

      <div class="row">
        <div class="col">
          <label>Product Type</label>
          <h1>{{ tasks.product.product_name }}</h1>
          
        </div>
        <div class="col">
          <label>Product Model</label>
          <h1>{{tasks.product.product_company}}</h1>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label>Problem</label>
          <h1>{{ tasks.problem  }}</h1>
        </div>
        <div class="col">
          <label>Product Details</label>
          <h1>{{ tasks.product_details }}</h1>
        </div>
      </div>
   
      <div class="row">
        <div class="col">
          <label>Items Sent</label>
          <input type="text"  style="text-transform: capitalize;"name="items_sent" value='{{ chiplevel.items_sent  if flag}}' class="form-control">
        </div>
        <div class="col">
          <label>Serial No</label>
          <h1>{{ tasks.serial_no }}</h1>
        </div>
      </div>

      
        
        
      </div>
    </form>

      
    </div>
</div>


<script type="">
  var names = {{ name | tojson  }};
      var sortedNames = names.sort();
      var name_input = document.getElementById("name_lit");
      name_input.addEventListener("keyup", (e) => {
          removename();
          for (var i of sortedNames) {
              if (
              i.toLowerCase().startsWith(name_input.value.toLowerCase()) &&
              name_input.value != ""
            ) {
              var listItem = document.createElement("li");
              listItem.classList.add("list-items");
              listItem.style.cursor = "pointer";
              listItem.setAttribute("onclick", "displayNames('" + i + "')");
              var word1 = "<b>" + i.substr(0, name_input.value.length) + "</b>";
              word1 += i.substr(name_input.value.length)
              listItem.innerHTML = word1;
              document.querySelector(".list").appendChild(listItem);
            }
          }
        });
        function displayNames(value) {
          name_input.value = value;
          removename();
        }
        function removename() {
          var items = document.querySelectorAll(".list-items");
          items.forEach((item) => {
            item.remove();
          });
        }
      
  </script>
  


{% endblock %}