{% extends "layout.html" %} 
{% block title %}COM CARE{%endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='dashboard-styles.css') }}" />
{% endblock %} 
{% block inner_content %}


{% include "sidebar_new_technician.html" %}

<link rel="stylesheet" href="{{ url_for('static', filename='instorenew_add.css') }}" />

<link rel="stylesheet" href="{{ url_for('static', filename='autosuggest.css') }}" /> 


<div class="page-content p-4" id="content">
<div class="main-container">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                        <div class="title">
                            <h4><i class="micon dw dw-settings2 mtext"></i></h4>
                        </div>


                          
    <div class="container-fluid right-content">

      
      
<form  method="post"  id="todo-form">
      <div class="row">
        <div class="col"><h1>Add Onsite Task</h1></div>
        <div class="col">
    <button class="btn btn-dark" type="submit"  data-bs-toggle="modal" data-bs-target="#" >Save</button>

    {% if flag and tasks.task_id %}
    <a href="{{ url_for('instorenew_download_report',task_id=tasks.task_id) }}" target="_blank"><button type="button"
      class="btn btn-dark">Print</button></a>
      {% endif %}

      </div>

    </div>


    <div class="row_view">
        <div class="col_view">
            <label>Creation Date<span style="color: red;">*</span></label>
            <input type="date" name="creation_date" id="creation_date"
            value="{{ tasks.creation_date  }}"
            class="form-control instore-input">
             </div> 
        
        <div class="col_view">
            <label>Urgency Level<span style="color: red;">*</span></label>
            <select name="urgency" id="urgency" class="form-control instore-input" required>
                <option value="">Select an option</option>
                {% for urgency in ["Low","Medium","High","Immediate"] %}
                <option value={{urgency}} {{  'selected' if flag and urgency==tasks.urgency  }}>{{urgency}}</option>
                {% endfor %}
                
            </select>
        </div>
        
    </div>

    <div class="row_view">
        <div class="col_view">
            <label>Service Attending Date</label>
            <input type="date" name="on_service_date" id="service_date" value="{{ tasks.on_service_date if flag }}" class="form-control instore-input">
        </div> 

        <div class="col_view">
            <label>Status</label>
            <select name="status" id="status" class="form-control instore-input" required>
                {% for status in ["Open","Assigned","Completed"] %}
                <option value={{status}} {{  'selected' if flag and status==tasks.status  }}>{{status}}</option>
                {% endfor %}
                
            </select>
        </div>
        
    </div>

    <h4>Customer Details</h4>

    <div class="row_view">
        <div class="col_view">
            <label>Customer Name<span style="color: red;">*</span></label>
            <input type="text" name="cname" placeholder="Customer Name" value="{{ tasks.cname if flag }}" class="form-control instore-input" required>
        </div>

        <div class="col_view">
            <label>Customer Phone No</label>
            <input type="number" name="cphoneno" placeholder="Customer Phone No" value="{{ tasks.cphoneno if flag }}" class="form-control instore-input"> 
        </div>
    </div>
    <div class="row_view">
        <div class="col_view">
            <label>Address</label>
            <input type="text" name="caddress" placeholder="Customer Address" value="{{ tasks.caddress if flag }}" class="form-control instore-input">
        </div>

        
    </div>

    <h4>Service Details</h4>

    <div class="row_view">
        <div class="col_view">
            <label>Service Type<span style="color: red;">*</span></label>
            <select name="service_type" class="form-control instore-input" id="service_type" required>
                <option value="">Select an Service Type</option>
                {% for work in ["AMC","Service","Installation"] %}
            <option value={{work}} {{  'selected' if  flag and work == tasks.service_type   }}>{{work}}</option>
            {% endfor %}
            </select>
        </div>

        <div class="col_view">
            <label>Engineer</label>
            <select class="form-control" name="engineer_assign">
              
            <option value={{technicians.name}} {{ 'selected' if flag and technicians.name == tasks.engineer_assign   }}>{{ technicians.name }}</option>
          
          </select>
          </div>
    </div>


    <div class="row_view">
        <div class="col_view">
            <label>Problem<span style="color: red;">*</span></label>
            <input type="text" name="problem" placeholder="problem" value="{{ tasks.problem if flag }}" class="form-control instore-input" required>
        </div>

        <div class="col_view">
            <label>Remarks</label>
            <textarea name="remarks" class="form-control" rows="3" placeholder="Remarks">{{ tasks.remarks if flag }}</textarea>
        </div>
    </div>

   


    <h4>Service Charges</h4>

    <div class="row_view">
        <div class="col_view">
            <label>Service Charge</label>
            <input type="number" name="service_charge" placeholder="Service Charge" value="{{ tasks.service_charge if flag }}" class="form-control instore-input">
        </div>

        <div class="col_view">
            <label>Received Charges</label>
            <input type="number" name="received_charge" placeholder="Received Charges" value="{{ tasks.received_charge if flag }}" class="form-control instore-input">
        </div>

        <div class="col_view">
            <label>Discount</label>
            <input type="number" name="discount" placeholder="Discount" value="{{ tasks.discount if flag }}" class="form-control instore-input">
        </div>

        <div class="col_view">
            <label>Payment Status</label>
            <select class="form-control" name="payment_status">
                <option value="">Select an option</option>
                {% for payment_status in ["Paid","Advance","Not_Paid"] %}
                <option value={{payment_status}} {{  'selected' if flag and payment_status==tasks.payment_status  }}>{{payment_status}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    
   

{% endblock %}