
@media (max-device-width: 600px) {
    .col{
      
      overflow-wrap: break-word;  
    }
  }



  table {
    color: #333;
    font-size: .9em;
    font-weight: 300;
    line-height: 40px;
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid #ed1c40;
    width: 500px;
    margin: 50px auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.16);
    border-radius: 2px;
  }
  
  
  tr:hover:not(th) {background-color: rgba(237,28,64,.1);}
  
  
  input[type="button"] {
    transition: all .3s;
      border: 1px solid #ddd;
      padding: 8px 16px;
      text-decoration: none;
      border-radius: 5px;
    font-size: 15px;
  }
  
  input[type="button"]:not(.active) {
    background-color:transparent;
  }
  

  
  input[type="button"]:hover:not(.active) {
    background-color: #ddd;
  }